header {
  width: 100%;
  text-align: center;   
  h2{
    margin: 0; 
    font-family: 'Permanent Marker', cursive;
    font-size: 3em; 
    color: white; 
    @media screen and (min-height: 700px){
        padding-top: 76px;   
    }
    
  }
  
  h4{
    margin-top: 15px; 
    font-size: 1.5em;
    font-family: 'Permanent Marker', cursive;
    color: #adebad;
    @media screen and (min-height: 700px){
        padding-top: 23px;   
    }

  }
}

 