.main-wrapper {
  height: 100vh;
  background-image: url(../images/bg-pic.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-wrapper-content {
  margin: 0 auto; 
  width: 95%; 
}
